<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcj.mapper.DeptMapper">
    <!--多表连接查询-->
    <!--type:对象类型orm-->
    <resultMap type="dept" id="deptMap">
        <!-- 主键字段映射 -->
        <id column="deptno" property="deptno"/>
        <!--非主键字段映射-->
        <result column="dname" property="dname"/>
        <result column="loc" property="loc"/>
        <!--封装结果到集合 property:实体表对象属性名 column：两表关联字段   ofType:每个对象类型-->
        <collection property="emps" ofType="emp" column="deptno">
            <id column="empno" property="empno"/>
            <!--其他非主键字段映射column:数据库字段，property：属性字段-->
            <result column="ename" property="ename"/>
            <result column="job" property="job"/>
            <result column="hiredate" property="hiredate"/>
            <result column="mgr" property="mgr"/>
            <result column="sal" property="sal"/>
            <result column="comm" property="comm"/>
            <result column="deptno" property="deptno"/>
        </collection>
    </resultMap>

    <!--resultMap完成高级输出结果映射
    如果查询出来的列名和pojo的属性名不一致，通过定义一个resultMap对列名和pojo属性名之间作一个映射关系
    -->
    <select id="findDeptAndEmps" resultMap="deptMap">
        select * from dept left join emp on emp.deptno = dept.deptno
    </select>
</mapper>